= render 'profiles/head'

= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit-user prepend-top-default" }, authenticity_token: true do |f|
  = form_errors(@user)

  .row
    .col-lg-3.profile-settings-sidebar
      %h4.prepend-top-0
        Main settings
      %p
        This information will appear on your profile.
    .col-lg-9
      .form-group
        = f.label :name, class: "label-light"
        = f.text_field :name, class: "form-control", required: true, readonly: true

      .form-group
        = f.label :email, class: "label-light"
        = f.text_field :email, class: "form-control", required: true, readonly: true
      .form-group
        = f.label :public_email, class: "label-light"
        = f.select :public_email, options_for_select(@user.all_emails, selected: @user.public_email), {include_blank: 'Do not show on profile'}, class: "select2"
        %span.help-block This email will be displayed on your public profile.
      .form-group
        = f.label :skype, class: "label-light"
        = f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, class: "label-light"
        = f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, class: "label-light"
        = f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, 'Website', class: "label-light"
        = f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :location, 'Location', class: "label-light"
        = f.text_field :location, class: "form-control"
      .form-group
        = f.label :bio, class: "label-light"
        = f.text_area :bio, rows: 4, class: "form-control", maxlength: 250
        %span.help-block Tell us about yourself in fewer than 250 characters.
      .prepend-top-default.append-bottom-default
        = f.submit 'Update profile settings', class: "btn btn-success"
        = link_to "Cancel", user_path(current_user), class: "btn btn-cancel"
