- page_title "Account"
= render 'profiles/head'

- if current_user.ldap_user?
  .alert.alert-info
    Some options are unavailable for LDAP accounts

.row.prepend-top-default
  .col-lg-3.profile-settings-sidebar
    %h4.prepend-top-0
      Private Token
    %p
      Your private token is used to access application resources without authentication.
  .col-lg-9
    = form_for @user, url: reset_private_token_profile_path, method: :put, html: { class: "private-token" } do |f|
      %p.cgray
        - if current_user.private_token
          = label_tag "token", "Private token", class: "label-light"
          = text_field_tag "token", current_user.private_token, class: "form-control"
        - else
          %span You don`t have one yet. Click generate to fix it.
      %p.help-block
        It can be used for atom feeds or the API. Keep it secret!
      .prepend-top-default
        - if current_user.private_token
          = f.submit 'Reset private token', data: { confirm: "Are you sure?" }, class: "btn btn-default"
        - else
          = f.submit 'Generate', class: "btn btn-default"
.append-bottom-default
