= stylesheet_link_tag intra_base_url + "/static/content/css/topbar-ink.css"
= stylesheet_link_tag intra_base_url + "/static/content/css/symbol-font.min.css"
= stylesheet_link_tag intra_base_url + "/static/content/css/font-awesome.min.css"
= stylesheet_link_tag intra_base_url + "/static/content/css/pink.min.css"
= stylesheet_link_tag intra_base_url + "/static/content/css/topbar.min.css"
