= javascript_include_tag intra_base_url + '/static/libs/ink-all.js'
= javascript_include_tag intra_base_url + '/static/libs/pink.min.js'
= javascript_include_tag intra_base_url + '/static/libs/pink-tpl-bundle.js'
= javascript_include_tag intra_base_url + '/intrabar/translations'
= javascript_include_tag intra_base_url + '/static/intrabar-bundle.min.js'
:javascript
  initIntraBar();
